* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
}

#landingpage {
    background-color: #C7EBFF;
}

#title {
    margin-bottom: 80px;
}

#submit {
    text-align: center;
    width: 90%;
    background-color: #316ADA;
    color: white;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    opacity: 0.65;
    border-radius: 15px;
}

    #submit:hover {
        cursor: pointer;
        background-color: #13109E;
    }

#login {
    margin-top: 30px;
}

#forgot {
    position: relative;
    left: 30px;
    color: red;
    margin-top: 20px;
    margin-bottom: 40px;
}

#title h1 {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 40px;
}

#ellipse1 {
    position: absolute;
    border-radius: 50%;
    top: 5%;
    left: 4%;
    width: 450px;
    height: 414.2px;
    background-color: #316ADA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ellipse2 {
    position: relative;
    border-radius: 50%;
    margin-top: 20vh;
    width: 519px;
    height: 507px;
    background-color: #A4D6E5;
    opacity: 0.65;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ellispe2:hover {
    background-color: #13109E;
}


.container-fluid {
    width: 90%;
}

.col-3 {
    height: 300px;
    margin-right: 18px;
    margin-left: 18px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: #FFAABB;
}

#text {
    position: relative;
    width: 80%;
    height: 150px;
    overflow: hidden;
}

#main {
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer {
    color: white;
    display: flex;
    background-color: #4B7ECA;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact-stuff {
}

#part1 {
    padding-left: 50px;
    padding-top: 20px;
    width: 50%;
    font-size: 16px;
}


#part2 {
    padding-top: 20px;
    width: 50%;
}

#part3 {
    padding-top: 20px;
    width: 50%;
}

#part4 {
    padding-top: 20px;
    padding-right: 50px;
    width: 50%;
}

#list {
    padding-left: 20px;
}

textarea {
    resize: none;
    overflow: auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 65%;
    height: 125px;
}

footer p {
    font-size: 1.3em;
}

footer {
    margin-top: 50px;
}



/*HEADER */
.nav-item {
    margin-left: 4vw;
    font-size: 2em;
    text-align: center;
}

.bg-light {
    background-color: #4B7ECA !important;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.mr-auto {
    margin-right: auto;
    margin-left: auto;
}

.navbar-dark .navbar-brand {
    font-size: 2em;
}

.icons {
    margin-left: 15px;
}

.form-inline {
    margin-right: 20px;
}
/*End of Header*/



.material-icons {
    position: absolute;
    top: 45px;
    left: 65px;
    color: #FFFFFF;
    font-size: 300px;
    transform: rotate(10deg);
}




.form-input {
    width: 90%;
    padding: 12px;
    border-radius: 15px;
    border: none;
}

.form-div {
    text-align: center;
    margin-bottom: 15px;
}

.form-control {
    border: 1px solid black;
}

.shipping {
    border: 1px solid gainsboro;
    border-style: none solid solid solid;
    margin: 0px 75px 50px 75px;
    padding: 10px;
}

.shipping0 {
    border: 1px solid gainsboro;
    border-style: none solid solid solid;
    margin: 0px 75px 0px 75px;
    padding: 10px;
}

.col-md-8 {
    padding-bottom: 20px;
}

.col-md-6{
    padding-bottom: 20px;
}

.col-md-4 {
    padding-bottom: 20px;
    float: left;
}

.col-md-2 {
    padding-bottom: 20px;
}

.col-12{
    padding-top: 20px;
}


.sec {
    background-color: #C7EBFF;
    margin: 0px 75px 50px 75px;
    padding: 20px;
}

.sec2 {
    background-color: #C7EBFF;
    margin: 25px 75px 0px 75px;
    padding: 20px;
}

.sec3 {
    background-color: #C7EBFF;
    margin: 0px 75px 50px 75px;
    padding: 20px;
    text-align: center;
}
.butt {
    background-color: dodgerblue;
    color: white;
    margin-left: 75px;
    
}
img {
    border: 2px solid gainsboro;
    margin: 25px;
}

td{
    vertical-align: top;
    text-align: left;
}

